<!DOCTYPE html>
<html lang="zh">
<head>
    <title>@ViewBag.Title</title>
    <link href="~/Content/jquery-easyui-1.4.4/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/jquery-easyui-1.4.4/themes/icon.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Content/jquery-easyui-1.4.4/jquery.easyui.min.js"></script>
    @Scripts.Render("~/bundles/jquerytics")
    <style type="text/css">
        .footer {
            width: 100%;
            text-align: center;
            line-height: 35px;
        }

        .top-bg {
            background-color: #d8e4fe;
            height: 80px;
        }

        .text-style {
            text-decoration: none;
            color: black;
            text-align:center;
        }
    </style>
</head>

<body style="width: 80%; margin: 0px auto;">
    <div class="easyui-layout" data-options="fit:true">
        <div region="north" border="true" split="true" style="overflow: hidden; height: 80px;">
            <div class="top-bg"></div>
            此处放置Logo
        </div>
        <div region="south" border="true" split="true" style="overflow: hidden; height: 40px;">
            <div class="footer">版权所有：<a href="http://blog.csdn.net/sunny906">sunny906</a></div>
        </div>
        <div region="west" split="true" title="菜单栏" style="width: 200px;">
            <div class="easyui-accordion" style="position: absolute; top: 27px; left: 0px; right: 0px; bottom: 0px;">
                <div title="经销商项目管理" iconcls="icon-management" selected="true" style="overflow: auto; padding: 10px;">
                    <ul class="easyui-tree">
                        <li iconcls="icon-sign-in">
                            @Html.ActionLink("工程项目登录", "Index", "Engineering",new { @class="text-style" })
                        </li>
                        <li iconcls="icon-sign-in">
                            @Html.ActionLink("家装项目登录", "Index", "House",new { @class="text-style" })
                        </li>
                        <li iconcls="icon-query">
                            @Html.ActionLink("登录项目查询", "Index", "Query",new { @class="text-style" })
                        </li>
                    </ul>
                </div>
                <div title="系统设置" iconcls="icon-settings" style="padding: 10px;">
                    <ul class="easyui-tree">
                        <li iconcls="icon-change-password">
                             @Html.ActionLink("修改密码", "Index", "Changepwd",null,new { @class="text-style" })
                        </li>
                        <li iconcls="icon-sign-out">
                            <a style="text-decoration: none; color: black;" href="/Login/Loginout">退出系统</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="mainPanle" region="center" style="overflow-y: auto;">
            @RenderBody()
        </div>
    </div>
</body>
</html>
